body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    font-family:Arial;
}

.container{
    width:360px;
    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 12px black;
}

h2{
    color:white;
    text-align:center;
}

.input-box{
    display:flex;
    gap:5px;
}

input{
    flex:1;
    padding:8px;
    border:none;
    outline:none;
    background:#2a2a2a;
    color:white;
}

button{
    padding:8px 10px;
    border:none;
    cursor:pointer;
    background:black;
    color:white;
    border:1px solid white;
}

ul{
    list-style:none;
    padding:0;
    margin-top:15px;
}

li{
    background:#2a2a2a;
    margin:8px 0;
    padding:10px;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.done{
    text-decoration:line-through;
    color:gray;
}

.actions button{
    margin-left:5px;
    font-size:12px;
}.clear-box{
    margin-top:10px;
    text-align:center;
}

.clear-box button{
    width:100%;
    background:red;
    border:none;
    color:white;
    padding:8px;
    cursor:pointer;
}